/* Default background */
.bg-gradient-to-b {
  background: linear-gradient(to bottom, #edf2f7, #a0aec0, #718096, #4a5568, #2d3748);
}

/* Daytime backgrounds */
.bg-day-clear {
  background: url('../public/day.png') no-repeat center center fixed;
  background-size: cover;
}

.bg-day-cloudy {
  background: url('../public/cloudy.png') no-repeat center center fixed;
  background-size: cover;
}

.bg-day-rainy {
  background: url('../public/cloudy2.png') no-repeat center center fixed;
  background-size: cover;
}

.bg-day-snowy {
  background: url('../public/storm.png') no-repeat center center fixed;
  background-size: cover;
}

.bg-day-default {
  background: url('../public/day.png') no-repeat center center fixed;
  background-size: cover;
}

/* Nighttime backgrounds */
.bg-night-clear {
  background: url('../public/night.png') no-repeat center center fixed;
  background-size: cover;
}

.bg-night-cloudy {
  background: url('../public/night-cloudy.png') no-repeat center center fixed;
  background-size: cover;
}

.bg-night-rainy {
  background: url('../public/night-rainy.png') no-repeat center center fixed;
  background-size: cover;
}

.bg-night-snowy {
  background: url('../public/night-snowy.png') no-repeat center center fixed;
  background-size: cover;
}

.bg-night-default {
  background: url('../public/night.png') no-repeat center center fixed;
  background-size: cover;
}
